<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>About</h2>
        <%= image_tag "skeetersAll.png", class: "team-img" %>
        <p class="">The Skeeters Baseball Club was formed to provide players from Southern Williamson and Maury County an
          opportunity to compete in select tournament baseball in a family environment. In addition to competing at the
          highest level on the field, the SBC strives to make its players the best they can be off the field as well.
          The SBC works diligently to instill teamwork, discipline, integrity, sportsmanship and work ethic. It is the
          goal of our organization to provide these players an exceptional learning environment, which will lay the
          foundation for future success in life as well as baseball.</p>
      </div>
      <div class="col-md-offset-1 col-md-4">
        <h2>Sponsors</h2>
        <div class="row">
          <div class="col-md-6">
            <%= image_tag "entrust_300.png", class: "sponsor-img" %>
          </div>
          <div class="col-md-6">
            <%= image_tag "entrust_300.png", class: "sponsor-img" %>
          </div>
          <div class="col-md-6">
            <%= image_tag "entrust_300.png", class: "sponsor-img" %>
          </div>
          <div class="col-md-6">
            <%= image_tag "entrust_300.png", class: "sponsor-img" %>
          </div>
          <div class="col-md-6">
            <%= image_tag "entrust_300.png", class: "sponsor-img" %>
          </div>
          <div class="col-md-6">
            <%= image_tag "entrust_300.png", class: "sponsor-img" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
